.navbar {
    text-align: center;

}
.container-fluid {
    position: absolute;
    text-align: center;
    margin-left: auto;
}

.navbar-brand {
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar-nav {
    margin-left: auto;
}
img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow:  0 0 10px 5px rgba(0,0,0,0.6);
      -moz-box-shadow: 0 0 10px  5px rgba(0,0,0,0.6);
      -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
      -o-box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
}

body {
    /* background-image: url(allYouNeed.jpg); */
    /* background-size: fill; */
    /* background-repeat: no-repeat; */
    background: #2C3E50 !important;
}

h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    text-align: center;
    font-size: 80pt;
    color: whitesmoke;
}
.best {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    text-align: center;
    font-size: 40pt;
    color: whitesmoke;
}

.footer {
    color: whitesmoke;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 10pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}